<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</html>    <title>详情页面</title>
</head>
<body>
    <h1>{{ question.question_text }}</h1>

{#    {% if error_message %}#}
{#        <p><strong>{{ error_message }}</strong></p>#}
{#    {% endif %}#}
{#修改为question.pk#}
    <form action="{% url 'polls:vote' question.pk %}" method="post">
        {% csrf_token %}
{#    后端返回question对象，for循环#}
        {% for choice in question.choice_set.all %}
            <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
            <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label>
        {% endfor %}
        <br>
        <br>
        <input type="submit" value="Vote">
    </form>

</body>
