{% extends 'base.html' %}

{% block head %}删除用户{% endblock %}

{% block title %} 删除用户 {% endblock %}

{% block content %}
    {% if msg.code == 0 %}
        <p style="color: green">{{ msg.res }}</p>
    {% else %}
        <p style="color: red">{{ msg.res }}</p>
    {% endif %}

    <form action="" method="post" enctype="application/x-www-form-urlencoded">
        <p>你确定删除用户 '{{ user.name }}' ?</p>
        <button type="submit">提交</button>
        <button><a href="{% url 'users:userlist' %}">取消</a></button>
    </form>
{% endblock %}
